@import "tailwindcss";
.btn:focus{
    
  background-color: blue;
  color: white;
transition: 1s ease ;
}

body {
    padding: 0;
    margin:0;
}
.main-content{
    /* grows to fill the space */
    flex: 1;
}
